@import url(../libs/normalize-css/normalize.css);
@import url(../libs/font-awesome/css/font-awesome.min.css);
@import url(../libs/magnific-popup/dist/magnific-popup.css);
@font-face {
  font-family: 'lato';
  src: url("../fonts/latoregular.woff") format("woff"); }

@font-face {
  font-family: 'lato';
  src: url("../fonts/latobold.woff") format("woff");
  font-weight: bold; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/latoitalic.woff") format("woff");
  font-style: italic; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: lato, sans-serif;
  overflow-x: hidden;
  opacity: 1; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  text-decoration: none; }

.grid {
  display: grid; }

.main-header {
  content: ' ';
  height: 800px;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  text-align: center; }
  .main-header nav {
    margin-top: 35px; }
  .main-header ul {
    margin: 0;
    padding: 0; }
  .main-header li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 18px;
    text-transform: uppercase; }
    .main-header li:nth-child(4) {
      padding: 0 32px; }
  .main-header a {
    color: #4d4959;
    font-size: 13px;
    font-weight: 700;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .main-header a:hover {
      color: #64c29e; }

.about-1,
.about-2, .about-3 {
  height: 600px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 400px 200px; }

.content-about {
  height: 469px;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  background-color: #f7f7f7; }
  .content-about img {
    justify-self: center; }
  .content-about h2 {
    font-size: 18px; }
  .content-about p {
    color: #848789; }

.about-1 div:first-child {
  -webkit-background-size: cover;
          background-size: cover;
  grid-column: span 4;
  grid-row: span 2;
  position: relative; }
  .about-1 div:first-child::before {
    content: '';
    background-image: url("../img/Logo-1.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.about-1 div:last-child {
  -webkit-background-size: cover;
          background-size: cover;
  grid-row: 2 / 3;
  grid-column: 5 / 7; }

.about-1 div:nth-child(2) {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  grid-column: span 2;
  padding: 70px; }
  .about-1 div:nth-child(2) img {
    justify-self: center; }
  .about-1 div:nth-child(2) p {
    text-align: justify;
    color: #848789; }

.about-2 div:last-child {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  grid-column: span 4;
  grid-row: span 2;
  position: relative; }
  .about-2 div:last-child::before {
    content: '';
    background-image: url("../img/Logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.about-2 div:first-child {
  -webkit-background-size: cover;
          background-size: cover;
  grid-row: 2 / 3;
  grid-column: 1 / 3; }

.about-2 div:nth-child(2) {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  grid-column: span 2;
  padding: 70px; }
  .about-2 div:nth-child(2) img {
    justify-self: center; }
  .about-2 div:nth-child(2) p {
    text-align: justify;
    color: #848789; }

.about-3 div:first-child {
  -webkit-background-size: cover;
          background-size: cover;
  grid-column: span 2;
  grid-row: span 2;
  position: relative; }
  .about-3 div:first-child::before {
    content: '';
    background-image: url("../img/Logo-3.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.about-3 div:last-child {
  -webkit-background-size: cover;
          background-size: cover;
  grid-column: 5 / 7;
  grid-row: 1 / 3; }

.about-3 div:nth-child(2) {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  grid-column: span 2;
  padding: 70px; }
  .about-3 div:nth-child(2) img {
    justify-self: center; }
  .about-3 div:nth-child(2) p {
    text-align: justify;
    color: #848789; }

.about-3 div:nth-child(3) {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  grid-column: 3 / 5; }

.feeds {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  height: 469px;
  background-color: #f7f7f7; }
  .feeds img {
    justify-self: center; }
  .feeds h2 {
    font-size: 16px; }
  .feeds span {
    color: #848789;
    font-weight: 300; }
  .feeds p {
    color: #848789;
    font-style: italic;
    font-size: 24px; }

.shop {
  height: 734px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  background-color: #282f35; }

.shop-item {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  height: 100%; }
  .shop-item:nth-child(3), .shop-item:nth-child(4) {
    grid-row: span 2; }
  .shop-item:nth-child(5), .shop-item:nth-child(6) {
    grid-column: span 2; }
  .shop-item::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    opacity: 0; }
  .shop-item:hover::before {
    opacity: 0.5;
    background-color: #64c29e;
    background-image: url(../img/shop-now.png);
    background-position: center;
    background-repeat: no-repeat; }

.buttoncase {
  grid-column: span 6;
  margin: 75px 0; }

.button {
  border: 1px solid white;
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 55px;
  text-align: center;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .button:hover {
    color: #64c29e;
    border: 1px solid #64c29e; }

.contactus {
  height: 469px;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  justify-items: center; }
  .contactus img {
    justify-self: center; }
  .contactus p {
    color: #848789;
    font-style: italic;
    font-size: 24px; }
  .contactus input[type="text"] {
    padding: 28px;
    font-style: italic;
    font-size: 20px;
    width: 400px;
    border-color: transparent;
    border: 1px solid #d3d7d9;
    margin-right: 8px; }

.form-contact {
  grid-template-columns: 3fr 1fr;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .form-contact a {
    padding: 26px 45px;
    background-color: #64c29e;
    color: #fff;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    justify-self: start; }
    .form-contact a:hover {
      background-color: #368a6a; }

.main-footer {
  background-color: #f7f7f7;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  grid-template-columns: repeat(6, 1fr);
  height: 250px; }

.address {
  font-style: italic;
  color: #848789;
  grid-column: 2 / 3;
  line-height: .5; }

.social {
  grid-column: 3 / 5;
  text-align: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.top {
  display: none;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: #64c29e;
  text-align: center;
  line-height: 50px;
  position: fixed;
  z-index: 1;
  color: #ffffff;
  font-size: 20px;
  opacity: 0.5;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .top:hover {
    opacity: 1; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
