root = true

[*.html]
indent_size = 3
indent_style = tab

[*.css]
indent_size = 2
indent_style = tab

[*.py]
indent_style = space
indent_size = 4

[*.{js,php}]
indent_style = tab
indent_size = 4

[*.{json,yml}]
indent_size = 2
indent_style = space