*
  box-sizing: border-box

body
  font-family: 'Exo 2', sans-serif
  font-size: 18px
  font-weight: 400

.container
  max-width: 1170px
  margin: auto

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold