footer.footer
	.container
		.footer__top
		.footer__bottom
			p.footer__copywriting Copyright © 2018 Toxin отель. Все права защищены.
			.footer__social
				a.footer__social-icon(href="#")
					img(src="./assets/images/social/twitter.svg", alt="Иконка twitter")
				a.footer__social-icon(href="#")
					img(src="./assets/images/social/fb.svg", alt="Иконка Facebook")
				a.footer__social-icon(href="#")
					img(src="./assets/images/social/instagrem.svg", alt="Иконка Instagram")