header.header
	.container
		.header__body
			a.header__logo(href="#")
				img(src="./assets/images/header__logo.svg", alt="Логотип в шапке")
			.header__menu-body
				ul.header__menu
					li.header__item
						a.header__link(href="#") О нас
					li.header__item
						a.header__link(href="#") Услуги
					li.header__item
						a.header__link(href="#") Вакансии
					li.header__item
						a.header__link(href="#") Новости
					li.header__item
						a.header__link(href="#") Соглашения
			.header__btn-groups
				button.btn.btn--outfill Войти
				button.btn.btn--fill Зарегистрироваться