@import 'core/reset.css';
@import 'core/global.css';
@import 'block/header.css';
@import 'block/about.css';
@import 'block/portfolio.css';


:root {
	--black: #232323;
	--bg: whitesmoke;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --black: #232323;
		--bg: whitesmoke;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
		--bg: #272935;
		--black: #F8F8F2;
  }
} */