@import 'reset';
@import 'fonts';
@import 'slick';
@import 'baguetteBox';
@import 'vars';
@import 'mixins';
@import 'general';

:root {
	--pinkHard: #f17172;
}



// Шапка сайта(лого, телефон, меню навигации)
// .header
.header {
	@media (max-width: $bp3+px){
		display: none;
		position: fixed;
		transition: all .2s;
		top: 0;
		left: -100%;
		height: 100%;
		display: block;
		background-color: #fff;
		width: 250px;
		z-index: 12;
		overflow-x: auto;
	}
	&.mobile {
		left: 0;
	}
	// .header__container
	// &__container {
	// 	max-width: 1424px;
	// 	margin: 0 auto;
	// 	// width: 100%;
	// 	padding: 0 15px;

	// 	@media (max-width:$bp3+px) {
	// 		display: flex;
	// 		justify-content: space-between;
	// 		align-items: center;
	// 	}
	// }

	// .header__content
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin: 35px 0;

		@media (max-width:$bp3+px) {
			flex-direction: column;
			margin: 25px 0;
		}
	}
	// .header__social
	&__social {
		@media (max-width: $bp3+px){
			margin: 15px 0px 0px 0px;
			order: 3;
		}
		&-link {
			width: 45px;
			&:nth-child(2) {
				margin: 0 10px;
			}
			@media (max-width: $bp3+px){
				width: 35px;
			}
		}
		&-row {
			&:first-child {
				margin: 0px 0px 10px 0px;
			}
		}
	}
	// .header__logo
	&__logo {
		max-width: 300px;
		@media (max-width: $bp3+px){
			order: 0;
		}
	}

	// .header__info
	&__info {
		text-align: right;
		letter-spacing: 2.5px;
		color: #333333;

		@media (max-width:$bp3+px) {
			text-align: center;
			order: 2;
		}
	}

	// .header__phone
	&__phone {
		font-weight: bold;
		line-height: 33.33px;
		font-size: 20px;
		@media (max-width: $bp3+px){
			font-size: 20px;
		}
		a {
			text-decoration: none;
			color: #000;
		}
	}

	// .header__wordhours
	&__wordhours {
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.67px;
		@media (max-width: $bp3+px){
			font-size: 15px;
		}
	}

	// .header__btn
	&__btn {
		border: 2px solid #FFB2A3;
		background-color: #FFB2A3;
		padding: 8px 20px;
		&:hover {
			background-color: #fff;
			border: 2px solid $accent;
			color: $accent;
			@include scale(1.1);
		}
		@media (max-width: $bp3+px){
			padding: 5px 10px;
			font-size: 15px;
			order: 1;
			margin: 10px 0;
		}
	}

	// .header__menu
	&__menu {
		background-color: $accent-l;
		@media (max-width: $bp3+px){
			background-color: #ffffff;
		}
	}

	// .header__menu-wrapper
	&__menu-wrapper {
		width: 100%;
		padding: 25px 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		@media (max-width:$bp3+px) {
			flex-direction: column;
			padding: 0;
		}
	}



	// .header__link
	&__link {
		color: #333333;
		font-family: "Futura PT Book";
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 2.5px;
		text-decoration: none;
		position: relative;
		@media (max-width: $bp3+px){
			font-size: 20px;
			margin: 15px 0;
		}

		&:after {
			content: "";
			position: absolute;
			height: 2px;
			width: 0%;
			transition: all .2s;
			background-color: #fff;
			left: 0;
			bottom: -10px;
		}

		&:hover:after {
			width: 100%;
		}

		@media (max-width:$bp4+px) {
			display: block;
			width: 100%;
			text-align: center;
			z-index: 10;
		}
	}
}

// Первый экран сайта
// .welcome
.welcome {
	position: relative;

	// .welcome__slider
	&__slider {}

	// .welcome__item
	&__item {
		// height: 794px;
		position: relative;

		@media (max-width:$bp3+px) {
			height: 100vh;

			&:after {
				content: "";
				position: absolute;
				background-color: rgba(#fff, .6);
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: -1;
			}
		}

		@media (max-width:$bp2+px) {
			background-position: 77%;
		}
	}

	.container {
		position: relative;
	}

	// .welcome__content
	&__content {
		max-width: 790px;
		margin: 100px 0;
		color: #1a1a18;
		height: 430px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;

		@media (max-width:$bp3+px) {
			height: 450px;
			margin: 100px 0;
			max-width: 100%;
		}

		@media (max-width:$minwidth+px) {
			margin: 60px 0;
			height: 400px;
		}
	}

	// .welcome__title
	&__title {
		font-family: "Futura PT Book";
		font-size: 42px;
		letter-spacing: 2.31px;
		font-weight: 300;
		position: relative;

		// .welcome__title-bold
		&-bold {
			font-weight: bold;
		}

		@media (max-width:$bp4+px) {
			font-size: 36px;
		}

		@media (max-width: 380px) {
			font-size: 32px;
		}

		&:after {
			content: "";
			position: absolute;
			height: 3px;
			background-color: $accent-m;
			width: 130px;
			bottom: -40px;
			left: 0;
			margin-bottom: 15px;

			@media (max-width: $bp4+px) {
				display: none;
			}
		}
	}

	// .welcome__subtitle
	&__subtitle {
		font-size: 37px;
		font-family: "Futura PT Book";
		letter-spacing: 2.31px;
		display: block;

		@media (max-width: 380px) {
			font-size: 32px;
		}
	}

	// .welcome__desctiption
	&__desctiption {
		font-family: "Futura PT Book";
		font-size: 36px;
		font-weight: bold;
		line-height: 51.32px;
		text-transform: uppercase;
		letter-spacing: 2.31px;

		@media (max-width:$bp4+px) {
			font-size: 30px;
		}

		@media (max-width: 380px) {
			font-size: 28px;
		}

		@media (max-width:$minwidth+px) {
			font-size: 22px;
			line-height: 1.5;
		}
	}

	// .welcome__price
	&__price {
		font-size: 25px;
		font-weight: bold;
		line-height: 57.21px;
		text-transform: uppercase;
	}

	// .welcome__price-color
	&__price-color {
		color: #f17172;
		font-family: "Futura PT Demi";
		font-size: 40px;
		font-weight: 400;
		letter-spacing: 2.67px;

		// &:last-child {font-size: 36px;}
		@media (max-width: 380px) {
			font-size: 36px;
		}
	}

	// .welcome__btn
	&__btn {
		border-radius: 18px;
		padding: 10px 30px;
		color: #000;
		font-size: 21px;
		letter-spacing: 2.31px;
		cursor: pointer;
		border: 2px solid $accent-l;

		&:hover {
			background-color: #fff;
			@include scale(1.1);
		}

		@media (max-width:$bp4+px) {
			display: block;
			padding: 18px 50px;
			margin: 0 auto;
		}

		@media (max-width: 380px) {
			font-size: 18px;
			padding: 10px 40px;
		}

		@media (max-width:$minwidth+px) {
			padding: 5px 30px;
		}
	}

	// .welcome__social
	&__social {
		display: flex;
		position: absolute;
		bottom: 1%;
		right: 4%;

		a {
			margin: 0 8px;
		}

		@media (max-width:$bp3+px) {
			left: 0%;
		}
	}

	// .welcome__soclink
	&__soclink {
		width: 57px;
		height: 56px;

		@media (max-width:$minwidth+px) {
			width: 40px;
			height: 40px;
		}
	}
}

.block2 {
	padding: 60px 0;

	@media (max-width:$bp3+px) {
		padding: 40px 0;
	}

	@media (max-width:$bp4+px) {
		padding: 20px 0;
	}

	// .block2__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 -50px;

		@media (max-width:$bp3+px) {
			flex-direction: column;
			align-items: center;
			margin: 0;
		}
	}

	// .block2__column
	&__column {
		width: 50%;
		padding: 0 50px;
		height: 100%;

		@media (max-width:$bp3+px) {
			width: 100%;
			padding: 0;
		}
	}

	// .block2__title-2
	&__title-2 {
		position: relative;
		padding-left: 87px;

		&:before {
			content: "";
			position: absolute;
			width: 66px;
			height: 5px;
			background-color: $accent-m;
			top: 50%;
			left: 0;
		}
	}

	// .block2__description
	&__description {
		font-weight: 300;
		letter-spacing: 2.08px;
		max-width: 731px;
		margin-top: 40px;
		line-height: 1.5;
		font-size: 16px;
		font-family: "Futura PT Light";

		@media (max-width:$bp4+px) {
			font-size: 16px;
			margin-top: 30px;
		}
	}

	// .block2__description-brand
	&__description-brand {
		font-family: "Futura PT Medium";
		letter-spacing: 2.08px;
	}
}

// Блок о фишках салона
// .block3
.block3 {
	background-color: #f6f6f6;

	// .block3__wrapper
	&__wrapper {
		// display: flex;
		display: grid;
		grid-template-columns: max-content min-content;
		// flex-wrap: nowrap;
		// justify-content: space-between;
		// justify-content: space-between;

		@media (max-width: 1024px) {
			flex-direction: column;
			align-items: center;
		}
	}

	// .block3__column-1
	&__column-1 {
		display: flex;
		// max-width: 1049px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 0 auto;

		@media (max-width: 1024px) {
			width: 100%;
			padding: 30px 0;
		}

		@media (max-width:$bp2+px) {
			margin-bottom: 15px;
		}
	}

	// .block3__row
	&__row {
		display: flex;
		width: 100%;
		justify-content: space-around;

		@media (max-width:$bp2+px) {
			margin: 0 0 20px 0;
		}

		@media (max-width:$bp3+px) {
			flex-direction: column;
			align-items: center;
		}
	}

	// .block3__column-2
	&__column-2 {
		width: 685px;
		background-size: contain;

		@media (max-width:1024px) {
			max-width: 100%;
		}

		img {
			display: block;
		}
	}

	// .block3__item
	&__item {
		max-width: 311px;
		text-align: center;
		transition: all .2s;

		&:hover {
			transform: scale(1.1);
		}

		@media (max-width:$bp3+px) {
			max-width: 100%;
			margin: 0 0 15px 0;
		}
	}

	// .block3__img
	&__img {}

	// .block3__title
	&__title {
		font-size: 16px;
		font-weight: bold;
		font-family: "Futura PT";
		font-weight: bold;
		letter-spacing: 2.08px;
		margin: 10px 0;

		@media (max-width:$bp4+px) {
			font-size: 15px;
		}
	}

	// .block3__cnt
	&__cnt {
		color: #767676;
		font-family: "Futura PT Book";
		font-size: 12px;
		letter-spacing: 1.67px;
		line-height: 1.5;

		@media (max-width:$bp4+px) {
			font-size: 13px;
		}
	}
}

// Блок с услугами
// .block4
.block4 {
	background: #fff url("../img/block4/water.png") top left / auto no-repeat;
	padding: 65px 0 110px 0;
	z-index: 3;

	@media (max-width:$bp3+px) {
		padding: 35px 0 50px 0;
	}

	// .block4__title
	&__title {

		// .block4__title_2
		&_2 {
			position: relative;
			padding-left: 64px;

			&:before {
				content: "";
				position: absolute;
				width: 52px;
				height: 5px;
				background-color: $accent-m;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	// .block4__subtitle
	&__subtitle {
		font-family: "Futura PT";
		font-size: 38px;
		letter-spacing: 6.75px;
		margin: 50px 0 40px;

		@media (max-width:$bp2+px) {
			margin: 40px 0 20px;
		}

		@media (max-width:$bp3+px) {
			font-size: 32px;
		}

		@media (max-width:$bp4+px) {
			font-size: 24px;
		}

		&:last-child {
			text-align: right;
		}
	}

	// .block4__wrapper
	&__wrapper {
		// display: flex;
		// justify-content: space-between;
		margin-right: -20px;
		margin-bottom: 50px;
		display: grid;
		grid-template-columns: 70% 30%;
		// height: 573px;
		width: 100%;

		@media (max-width:1250px) {
			height: 100%;
			flex-direction: column;
			margin: 0;
			margin-bottom: 30px;
		}

		&:last-child {
			margin-right: 0;
			margin-left: -20px;
		}
	}

	// .block4__slider
	&__slider {
		// width: 973px;
		position: relative;

		@media (max-width:1250px) {
			width: 100%;
			padding: 0;
		}
	}

	// .block4__slides
	&__slides {
		img {
			max-width: 100%;
			display: block !important;
		}
	}

	// .block4__dots
	&__dots {
		position: absolute;
		bottom: 2%;
		right: 2%;
		z-index: 11;

		ul {}

		li {
			width: 35px;
			height: 35px;
			border: 5px solid #FFB2A3;
			border-radius: 50%;
			margin: 5px;
			cursor: pointer;

			@media (max-width:$bp4+px) {
				width: 15px;
				height: 15px;
			}

			&.slick-active {
				background-color: #EE8A7D;
				border: 5px solid #EE8A7D
			}

			button {
				display: none;
			}
		}
	}

	// .block4__dot
	&__dot {
		display: block;
		width: 36px;
		height: 37px;
		border: 5px solid #FFB2A3;
		border-radius: 50%;
		margin-bottom: 15px;
		cursor: pointer;

		&:last-child {
			margin-bottom: 0;
		}

		// .block4__dot-active
		&-active {
			background-color: #FFB2A3;
		}
	}

	// .block4__container
	&__container {
		// width: 570px;
		background-color: #f6f6f6;
		padding: 20px;

		@media (max-width:1366px) {
			padding: 10px;
		}

		@media (max-width:1250px) {
			width: 100%;
		}
	}

	// .block4__cnt
	&__cnt {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		font-size: 23px;
		line-height: 36px;
		letter-spacing: 2.53px;
		font-weight: bold;

		@media (max-width:1366px) {
			font-size: 16px;
			line-height: 1.5;

			>* {
				margin: 10px 0;
			}
		}

		@media (max-width:$bp2+px) {
			>* {
				margin: 20px 0;
			}
		}
	}

	// .block4__cnt-title
	&__cnt-title {
		color: #767676;
		letter-spacing: 2.07px;

		@media (max-width:$bp3+px) {
			font-size: 21px;
		}
	}

	// .block4__cnt__title
	&__cnt__title {
		@media (max-width:$bp4+px) {
			font-size: 20px;
			line-height: 1.5;
		}
	}

	// .block4__cnt-lists
	&__cnt-lists {}

	// .block4__cnt-list
	&__cnt-list {
		letter-spacing: 2.08px;
		position: relative;
		width: auto;

		&:after,
		&:before {
			content: "•";
			color: $accent-m;
		}

		@media (max-width:1140px) {
			font-size: 18px;
		}

		@media (max-width:$bp4+px) {
			font-size: 14px;
		}
	}

	&__cnt-text {
		@media (max-width:$bp3+px) {
			font-size: 18px;
		}

		@media (max-width:$bp4+px) {
			font-size: 14px;
			line-height: 1.2;
		}
	}

	// .block4__btn
	&__btn {
		border-radius: 18px;
		border: 2px solid $accent-l;
		background-color: transparent;
		color: #000;
		padding: 10px 40px;
		font-family: "Futura PT";
		font-size: 21px;
		letter-spacing: 2.31px;
		cursor: pointer;
		margin: 0 auto;

		&:hover {
			background-color: $accent-l;
			@include scale(1.1);
		}

		@media (max-width:1366px) {
			padding: 10px 30px;
		}

		@media (max-width:$bp4+px) {
			padding: 10px 25px;
			font-size: 18px;
		}
	}

	// .block4__text
	&__text {
		font-size: 21px;
		letter-spacing: 2.08px;
		text-align: center;
		position: relative;
		font-weight: 600;
		z-index: 11;
		line-height: 1.5;

		@media (max-width:$bp4+px) {
			font-size: 14px;
		}
	}

	.slick-next {
		display: none;
	}
}

// Розовая линия между двумя блоками "Массаж" и "Лазерная эпиляция"
.line {
	height: 11px;
	width: 100%;
	background-color: $accent-m;
	z-index: 10;
	position: relative;
}

.block5 {
	position: relative;
	z-index: 10;
	padding-bottom: 75px;

	@media (max-width:1250px) {
		.block4__wrapper {
			flex-direction: column-reverse;
		}
	}

	@media (max-width:$bp3+px) {
		padding-bottom: 35px;
	}

	// .block5__btn
	&__btn {
		color: #000;
		padding: 18px 60px;
		letter-spacing: 2.27px;
		font-size: 25px;
		display: block;
		margin: 0 auto;
		border: 2px solid $accent-l;

		&:hover {
			border: 2px solid $accent-l;
			background-color: #fff;
			@include scale(1.1);
		}

		@media (max-width:$bp4+px) {
			padding: 18px 35px;
			font-size: 21px;
		}
	}

	// .block5-btn
	&-btn {
		margin-top: 80px;
	}

	.block4__dots {
		left: 2%;
	}
}


// .water
.water {
	background: #fff url("../img/block5/water.png") top right / auto no-repeat;
	height: 1222px;
	width: 797px;
	z-index: -10;
	position: absolute;
	right: 0;
	top: -150px;
}

// Блок об акции
// .block6
.block6 {

	// .block6__wrapper
	&__wrapper {
		max-width: 75%;
		padding: 91px 0 48px;
		margin: 0 auto;

		@media (max-width:$bp4+px) {
			padding: 25px 0;
		}
	}

	// .block6__title
	&__title {
		color: $accent;
		font-family: "Futura PT Demi";
		font-size: 79px;
		font-weight: bold;
		line-height: 57px;
		letter-spacing: 4.58px;

		@media (max-width:$bp4+px) {
			font-size: 42px;
		}
	}

	// .block6-description
	&-description {
		margin: 20px 0 40px;

		@media (max-width:$bp4+px) {
			margin: 20px 0;
		}
	}

	// .block6__description
	&__description {
		font-size: 36px;
		line-height: 51px;
		letter-spacing: 2.31px;

		@media (max-width:$bp4+px) {
			font-size: 26px;
		}
	}

	// .block6__discountdate
	&__discountdate {
		font-family: "Futura PT Medium";
		font-weight: bold;
	}

	// .block6__discount
	&__discount {
		color: $accent;
		font-family: "Futura PT Demi";
		font-size: 46px;
		font-weight: 600;

		@media (max-width:$bp4+px) {
			font-size: 32px;
		}
	}

	// .block6__btn-block
	&__btn-block {
		display: flex;

		@media (max-width: $bp4+px) {
			flex-direction: column;
		}
	}

	// .block6__btn
	&__btn,
	&__btn2 {
		border-radius: 18px;
		border: 5px solid #ffffff;
		background-color: $accent-l;
		font-family: "Futura PT Book";
		font-size: 25px;
		font-weight: bold;
		letter-spacing: 2px;
		color: #000;

		&:hover {
			background-color: #fff;
			@include scale(1.1);
		}

		@media (max-width:$bp4+px) {
			font-size: 21px;
		}
	}

	// .block6__btn2
	&__btn2 {
		margin: 0px 0px 0px 20px;

		@media (max-width: $bp4+px) {
			margin: 20px 0px 0px 0px;
		}
	}

	// .block6-btn
	&-btn {
		padding: 5px 90px;

		@media (max-width:$bp4+px) {
			padding: 14px 30px;
		}
	}
}

// Блок с отзывами
// .block7
.block7 {
	padding: 95px 0;

	@media (max-width:$bp3+px) {
		padding: 40px 0;
	}

	// .block7__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;
		margin: 0 -30px;

		@media (max-width:1024px) {
			flex-direction: column-reverse;
			align-items: center;
			margin: 0;
		}
	}

	// .block7__column
	&__column {
		width: 50%;

		@media (max-width:1024px) {
			width: 100%;
			margin-bottom: 15px;
		}
	}

	// .block7__column-1
	&__column-1 {
		padding: 0 30px;
		position: relative;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		align-items: flex-end;
	}

	// .block7__video
	&__video {
		position: relative;
		width: 752px;
		height: 437px;
		cursor: pointer;

		@media (max-width:1024px) {
			margin: 0 auto;
			width: 100%;
		}

		// Кнопка проигрывателя
		// .playBut
		.playBut {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		img {
			display: block;
		}

		// .block7__video__flower
		&__flower {
			position: absolute;
			z-index: -1;
			width: 100%;
		}

		// .block7__video__flower-1
		&__flower-1 {
			bottom: -30%;
			left: -10%;
		}

		// .block7__video__flower-2
		&__flower-2 {
			top: -25%;
			right: -45%;
		}
	}

	// .block7__text
	&__text {
		font-family: "Futura PT Book";
		font-size: 25px;
		line-height: 33.33px;
		letter-spacing: 2.5px;
		text-align: right;
	}

	&-text {
		margin-top: 60px;
	}

	// .block7__b-btn
	&_b-btn {}

	// .block7__btn
	&__btn {
		color: #000000;
		font-family: "Futura PT";
		font-size: 25px;
		font-weight: bold;
		line-height: 30px;
		letter-spacing: 2.7px;
		border-radius: 18px;
		border: 2px solid $accent-m;
		background-color: #ffffff;
		margin-top: 60px;
		padding: 10px 15px;

		&:hover {
			background-color: $accent-m;
			@include scale(1.1);
		}

		@media (max-width:$bp4+px) {
			font-size: 20px;
			letter-spacing: 1px;
		}
	}

	// .block7__column-2
	&__column-2 {
		padding: 0 30px;

		@media (max-width:$bp2+px) {
			margin-bottom: 30px;
		}
	}

	// .block7__title
	&__title {}

	// .block7__subtext
	&__subtext {
		font-weight: 300;
		letter-spacing: 2.08px;
		max-width: 653px;
		font-size: 21px;
		line-height: 1.3;

		@media (max-width:$bp4+px) {
			font-size: 18px;
		}
	}

	// .block7-subtext
	&-subtext {
		margin: 65px 0;

		@media (max-width:$bp4+px) {
			margin: 30px 0;
		}
	}
}

// Блок о результатах в фотографиях
// .block8
.block8 {
	background: #fff url("../img/block8/bg-8.jpg") center / cover no-repeat;
	padding: 80px 0;

	@media (max-width:$bp3+px) {
		padding: 40px 0;
	}

	// .block8__title
	&__title {
		position: relative;
		margin-left: 200px;

		@media (max-width:$bp3+px) {
			margin-left: 0;
		}

		&:first-child {
			&:after {
				content: "";
				position: absolute;
				width: 67px;
				height: 5px;
				background-color: $accent-m;
				top: 50%;
				transform: translateY(-50%);
			}

			;
		}
	}

	// .block8__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-around;
		margin: 55px -10px 0;
		flex-wrap: wrap;

		@media (max-width:$bp4+px) {
			flex-direction: column;
			align-items: center;
		}
	}

	// .block8__column
	&__column {
		padding: 0 10px;
		overflow: hidden;
		width: 620px;

		@media (max-width:1024px) {
			width: 100%;
			margin: 0 0 20px 0;
		}

		img {
			transition: all .3s;
			display: block;
			margin: 0 auto;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

// Блок о персонале
// .block9
.block9 {
	padding: 70px 0;

	@media (max-width:$bp3+px) {
		padding: 35px 0;
	}

	// .block9__title
	&__title {
		text-align: center;
		position: relative;
	}

	// .block9-subtitle
	&-subtitle {
		margin: 40px 0 50px;
	}

	// .block9__subtitle
	&__subtitle {
		font-size: 21px;
		font-weight: bold;
		line-height: 33.33px;
		color: #767676;
		letter-spacing: 2.08px;
		text-align: center;
	}

	// .block9__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;
		text-align: center;
		flex-wrap: wrap;
		max-width: 1119px;
		margin: 0 auto;

		@media (max-width:1024px) {
			justify-content: center;
		}
	}

	// .block9__empl
	&__empl {
		max-width: 320px;
		margin: 10px;
	}

	// .block9__box
	&__box {
		width: 320px;
		height: 320px;
		box-shadow: 11px 4px 10px 3px rgba(0, 0, 0, 0.21);
		background-color: #f6f6f6;
		margin: 0 auto;
		background-size: contain;
	}

	// .block9__empl-title
	&__empl-title {
		font-family: "Futura PT";
		font-size: 25px;
		font-weight: bold;
		line-height: 33.33px;
		letter-spacing: 2.5px;
	}

	// .block9-empl-title
	&-empl-title {
		margin: 28px 0 22px;
	}

	// .block9__lists
	&__lists {
		line-height: 1.5;
	}

	// .block9__lists-item
	&__lists-item {
		color: #767676;
		font-family: "Futura PT Book";
		font-size: 17px;
		font-weight: bold;
		letter-spacing: 1.67px;

		&:before {
			content: "-";
			padding-right: 5px;
		}
	}
}

// Блок с сертификатами
// .block10
.block10 {
	background: #f6f6f6 url("../img/block10/bg-10.png") center / cover no-repeat;
	padding: 80px 0 35px;

	@media (max-width:$bp3+px) {
		padding: 40px 0 15px;
	}

	// .block10__title
	&__title {
		position: relative;
	}

	// .block10__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin-top: 80px;
	}

	// .block10__item
	&__item {
		margin: 10px;
		max-width: 20%;
		transition: all 0.2s ease;

		&:hover {
			transform: scale(1.1);
		}

		@media (max-width:$bp4+px) {
			max-width: 40%;
		}
	}

	// .block10__btn
	&__btn {
		color: #000;
		border: 2px solid $accent-l;
		border-radius: 18px;
		background-color: $accent-l;
		padding: 20px 83px;
		display: inline-block;
		text-decoration: none;

		&:hover {
			@include scale(1.1);
			border: 2px solid $accent-l;
			background-color: #fff;
		}

		@media (max-width:$bp4+px) {
			padding: 20px 50px;
		}
	}

	// .block10-btn
	&-btn {
		margin: 60px auto 0;
		text-align: center;
	}
}

// Блок со скидкой и записью
// .block11
.block11 {
	background: #f0d0c1 url("../img/block11/bg-11.png") center / cover no-repeat;
	padding: 100px 0 50px;

	@media (max-width:$bp3+px) {
		padding: 25px 0;
	}

	// .block11__wrapper
	&__wrapper {
		max-width: 80%;
		margin: 0 auto;
	}

	// .block11__title
	&__title {
		color: $accent;
		font-family: "Futura PT Demi";
		font-size: 46px;
		font-weight: bold;
		line-height: 57.59px;
		letter-spacing: 2.65px;

		@media (max-width:$bp3+px) {
			font-size: 38px;
		}

		@media (max-width:$bp4+px) {
			font-size: 34px;
		}
	}

	.btn {
		padding: 5px 50px;

		@media (max-width:$bp4+px) {
			padding: 8px 14px;
		}
	}
}

// Блок с картой и контактами
// .block12
.block12 {
	padding: 65px 0;

	@media (max-width:$bp3+px) {
		padding: 30px 0;
	}

	// .block12__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;

		@media (max-width:$bp2+px) {
			flex-direction: column;
			align-items: center;
		}
	}

	// .block12__column
	&__column {
		height: 750px;

		@media (max-width:$bp2+px) {
			width: 100%;
		}

		@media (max-width:$bp4+px) {
			height: 100%;
		}
	}

	// .block12__column
	&__column-1 {
		width: 41%;

		@media (max-width:$bp2+px) {
			width: 100%;
		}
	}

	// .block12__map
	&__map {
		position: relative;
		width: 872px;

		iframe {
			height: 750px;
		}

		&:after {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			border: 7px solid $accent-l;
			left: 5%;
			top: 5%;
			z-index: -1;

			@media (max-width:$bp2+px) {
				top: 0;
				left: 0;
			}
		}

		&:before {
			content: "";
			position: absolute;
			background: url("../img/block12/pieces.png") center / cover no-repeat;
			width: 100%;
			height: 100%;
			left: 15%;
			top: -10%;
			z-index: -1;

			@media (max-width:$bp2+px) {
				display: none;
			}
		}

		@media (max-width:$bp2+px) {
			margin: 0 20px;
			width: 100%;
		}

		@media (max-width:$bp4+px) {
			iframe {
				height: 350px;
			}
		}
	}

	// .block12__title
	&__title {}

	// .block12__title-2
	&__title-2 {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			bottom: -15px;
			left: 0;
			width: 90px;
			height: 4px;
			background-color: $accent-m;
		}
	}

	// .block12__text-gray
	&__text-gray {
		color: #767676;
		font-size: 21px;
		line-height: 33.33px;

		@media (max-width:$bp4+px) {
			font-size: 18px;
		}
	}

	// .block12__workcity
	&__workcity {
		font-size: 25px;

		@media (max-width:$bp4+px) {
			font-size: 21px;
		}
	}

	// .block12-workcity
	&-workcity {
		margin-top: 55px;

		@media (max-width:$bp4+px) {
			margin-top: 25px;
		}
	}

	// .block12__workhours
	&__workhours {}

	// .block12__hours
	&__hours {
		color: #000;
		font-size: 25px;

		@media (max-width:$bp4+px) {
			font-size: 21px;
		}
	}

	// .block12__weekend
	&__weekend {}

	// .block12__namesalon
	&__namesalon {
		color: #000;
	}

	// .block12-namesalon
	&-namesalon {
		margin-bottom: 45px;

		@media (max-width:$bp4+px) {
			margin-bottom: 20px;
		}
	}

	// .block12__workaddress
	&__workaddress {
		display: block;
	}

	&__addrs {}

	&-addrs {
		margin: 45px 0;

		@media (max-width:$bp4+px) {
			margin: 25px 0;
		}
	}
}

// Подвал сайта
// .footer
.footer {
	// padding: 35px 0;
	background: #FFB2A3;

	// .footer__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		img {
			max-width: 100%;
			display: block;
		}
	}
	// .footer__social
	&__social {
		width: 150px;
		margin: 15px auto 0;
	}
	// .footer__link
	&__link {
		margin: 20px 0;
		text-align: center;

		a {
			color: $accent;
			text-decoration: none;
		}

		@media (max-width:$bp4+px) {
			font-size: 14px;
		}
	}

	// .footer__mobile
	&__mobile {
		display: none;

		@media (max-width:$bp3+px) {
			display: block;
		}
	}

	// .footer__logo
	&__logo {
		@media (max-width:$bp3+px) {
			display: none;
		}
	}
}

// Общие настройки для баннеров
// .banner
.banner {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
		/* scale(1.2) */
	;
	background-color: #F6F6F6;
	font-size: 18px;
	padding: 15px 40px;
	font-family: 'Futura PT Light';
	z-index: 55;
	width: 80%;
	line-height: 1.5;
	overflow-y: auto;
	height: 100%;
	zoom: 1.2;

	@media (max-width:$bp2+px) {
		width: 100%;
		height: 100%;
		font-size: 14px;
		zoom: 1;
	}

	// .banner__container
	&__container {}

	// .banner__title
	&__title {
		font-size: 38px;
		font-family: 'Futura PT Medium';
		position: relative;
		margin-bottom: 20px;

		&:after {
			content: "";
			position: absolute;
			width: 137px;
			height: 5px;
			background-color: #EF8A7D;
			bottom: -30%;
			left: 50%;
			transform: translateX(-50%);
		}

		@media (max-width:$bp3+px) {
			font-size: 28px;
		}
	}

	// .banner__suptitle
	&__suptitle {
		font-family: "Futura PT Medium";
		line-height: 33.33px;
		letter-spacing: 2.08px;
		margin: 10px 0;
	}

	// .banner__supsuptitle
	&__supsuptitle {
		font-weight: bold;
	}

	// .banner__text
	&__text {
		margin: 10px 0;
	}

	// .banner__subtitle
	&__subtitle {}

	// .banner__lists
	&__lists {}

	// .banner__item
	&__item {
		position: relative;
		padding-left: 15px;

		&:before {
			content: "•";
			position: absolute;
			color: $accent-m;
			left: 0;
		}
	}

	// .banner__price .banner__discount
	&__price,
	&__discount {
		font-family: 'Futura PT Medium';
	}

	// .banner__bigword
	&__bigword {
		display: block;
	}

	// .banner__bl-btn
	&__bl-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px
	}

	// .banner__btn
	&__btn {
		color: #000;
		border-radius: 15px;
		font-family: 'Futura PT Book';
		border: 2px solid $accent-l;
		padding: 5px 15px;

		&:hover {
			background-color: #fff;
			@include scale(1.1);
		}
	}

	// .banner__img
	&__img {
		position: absolute;
		z-index: 54;

		@media (max-width:$bp3+px) {
			display: none;
		}

		img {
			max-width: 100%;
			display: block;
		}

		// .banner__btn-1
		&-1 {
			top: 0;
			left: 0;
			z-index: -1;
			width: 365px;
		}

		// .banner__btn-2
		&-2 {
			width: 365px;
			right: 0;
			bottom: 0;
			z-index: -1;
		}

		// .banner__btn-3
		&-3 {
			bottom: 0;
			z-index: -1;
			right: 0;
		}
	}

	// .banner__table-wrapper
	&__table-wrapper {
		margin: 0 auto;
		max-width: 1000px;
		margin-bottom: 30px;

		@media (max-width:$bp2+px) {
			width: 100%;
		}
	}

	// .banner__table
	&__table {
		font-size: 18px;
		font-family: "Futura PT Medium";
		font-weight: bold;
		width: 100%;

		// .banner__item
		&-item {
			display: flex;
			justify-content: space-between;
			font-size: 16px;

			@media (max-width:380px) {
				font-size: 14px;
			}
		}
	}

	// .banner__table-2
	&__table-2 {
		.banner__table-item:last-child {
			.banner__tableprice:last-child {
				visibility: hidden;
			}
		}

		.banner__tableprice:last-child {
			margin-left: 40px;
		}

		.banner__gender:last-child {
			margin-left: 60px;
		}
	}

	// .banner__caption
	&__caption {}

	// .banner__dots
	&__dots {
		border-bottom: 2px dotted $accent-l;
		flex-grow: 1;
	}

	// .banner__empty
	&__empty {
		flex-grow: 1;
	}

	// .banner__gender
	&__gender {}

	// .banner__tableprice
	&__tableprice {
		position: relative;

		&:after {
			content: " Р";
			font-size: 21px;

			@media (max-width:$bp3+px) {
				font-size: 18px;
			}

			@media (max-width:$bp4+px) {
				font-size: 16px;
			}

			@media (max-width:380px) {
				font-size: 12px;
			}
		}
	}
}

// Кнопка закрытия баннеров
// .close
.close {
	position: absolute;
	height: 60px;
	width: 60px;
	border: none;
	background-color: transparent;
	top: 2%;
	right: 2%;
	cursor: pointer;
}

// Блок отвечающий за затемнение при показе баннеров и обратной связи
// .overlay
.overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .8);
	display: none;
	z-index: 40;
}

// Скрываем баннеры
//.ban1, .ban2, .ban3, .ban4
.ban1,
.ban2,
.ban3,
.ban4 {
	display: none;
}

// Блок "Обратная связь" вешается на кнопку .header__btn, .block7__btn
// .callback
.callback,
.free_first_procedur {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 55;
	max-width: 530px;
	background-color: #fff;
	zoom: 1.3;

	@media (max-width:$bp2+px) {
		zoom: 1;
		transform: translate(-50%, -50%);
	}

	@media (max-width:$bp3+px) {
		width: 100%;
		height: 100%;
		overflow-y: auto;
	}

	// .callback__wrapper
	&__wrapper {}

	// .callback__banner
	&__banner {
		height: 225px;
	}

	// .callback__body
	&__body {
		padding: 45px 40px 55px;
	}

	// .callback__title
	&__title {
		font-family: 'Futura PT Medium';
		font-size: 25px;
	}

	// .callback__suptitle
	&__suptitle {
		font-size: 15px;
		color: #767676;
	}

	// .callback__form
	&__form {}

	// callback__btn
	&__btn {
		display: flex;
		justify-content: center;
	}

	// .callback__group
	&__group {
		position: relative;
		margin: 40px 0;
	}

	// .callback__input
	&__input {
		transition: all .2s;
		width: 100%;
		border: none;
		border-bottom: 2px solid #f0d0c1;
		font-size: 18px;
		padding: 10px 0;

		&:not(:placeholder-shown)+.callback__label {
			font-size: 10px;
			top: 0;
		}

		&:focus+.callback__label {
			font-size: 10px;
			top: 0;
		}
	}

	// .callback__label
	&__label {
		transition: all .2s;
		font-size: 14px;
		position: absolute;
		color: #767676;
		left: 0;
		top: 50%;
		transform: translatey(-50%);
		transform-origin: 0 0;
	}

	// .callback__submit
	&__submit {
		color: #000;
		border: none;
		background-color: $accent-l;
		text-transform: uppercase;
		letter-spacing: 2.31px;
		font-family: "Futura PT Book";
		font-weight: bold;
		font-size: 21px;
		cursor: pointer;
		border-radius: 18px;
		padding: 13px 68px;
		transition: all .2s;
		border: 2px solid $accent-l;

		&:hover {
			background-color: #fff;
			transform: scale(1.1);
		}
	}
}

//	Блок "Спасибо"
// .thanks
.thnks {
	max-width: 530px;
	position: fixed;
	left: 50%;
	top: 50%;
	border-radius: 25px;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 55;

	// .thnks__wrapper
	&__wrapper {
		padding: 100px 95px;
	}

	// .thnks__title
	&__title {
		font-size: 29px;
		letter-spacing: 1.73px;
		font-family: "Futura PT Medium";
		padding-bottom: 15px;
	}

	// .thnks__text
	&__text {
		color: #767676;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 2.08px;
	}
}


// .burger
.burger {
	@media (max-width:$bp3+px) {
		display: block;
		position: fixed;
		top: 5%;
		right: 5%;
		width: 30px;
		height: 20px;
		z-index: 11;

		span {
			background-color: $accent;
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			transition: all 0.3s ease 0s;

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2) {
				top: 50%;
				transform: translateY(-50%);
			}

			&:nth-child(3) {
				bottom: 0;
			}
		}

		&.active {
			span {
				&:nth-child(1) {
					top: 50%;
					transform: rotate(45deg);
				}

				&:nth-child(2) {
					display: none;
				}

				&:nth-child(3) {
					top: 50%;
					transform: rotate(-45deg)
				}
			}
		}
	}
}

.social {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&-link {
		width: 40px;

		&:nth-child(2) {
			margin: 0 15px;
		}

		@media (max-width: $bp3+px) {
			width: 35px;
		}
	}
}
