/* Блок Акции */
// .block6
.block6 {

	// .block6__wrapper
	&__wrapper {
		max-width: 75%;
		padding: 91px 0 48px;
		margin: 0 auto;

		@media (max-width:$bp4+px) {
			padding: 25px 0;
		}
	}

	// .block6__title
	&__title {
		color: var(--flamingo);
		font-family: "Futura PT Demi";
		font-size: 79px;
		font-weight: bold;
		line-height: 57px;
		letter-spacing: 4.58px;

		@media (max-width:$bp4+px) {
			font-size: 42px;
		}
	}

	// .block6-description
	&-description {
		margin: 20px 0 40px;

		@media (max-width:$bp4+px) {
			margin: 20px 0;
		}
	}

	// .block6__description
	&__description {
		font-size: 36px;
		line-height: 51px;
		letter-spacing: 2.31px;

		@media (max-width:$bp4+px) {
			font-size: 26px;
		}
	}

	// .block6__discountdate
	&__discountdate {
		font-family: "Futura PT Medium";
		font-weight: bold;
	}

	// .block6__discount
	&__discount {
		color: var(--flamingo);
		font-family: "Futura PT Demi";
		font-size: 46px;
		font-weight: 600;

		@media (max-width:$bp4+px) {
			font-size: 32px;
		}
	}

	// .block6__btn-block
	&__btn-block {
		display: flex;

		@media (max-width: $bp4+px) {
			flex-direction: column;
		}
	}

	// .block6__btn
	&__btn,
	&__btn2 {
		border-radius: 18px;
		border: 5px solid #fff;
		background-color: var(--doll-house);
		font-family: "Futura PT Book";
		font-size: 25px;
		font-weight: bold;
		letter-spacing: 2px;
		color: #000;

		&:hover {
			background-color: #fff;
			@include scale(1.1);
		}

		@media (max-width:$bp4+px) {
			font-size: 21px;
		}
	}

	// .block6__btn2
	&__btn2 {
		margin: 0px 0px 0px 20px;

		@media (max-width: $bp4+px) {
			margin: 20px 0px 0px 0px;
		}
	}

	// .block6-btn
	&-btn {
		padding: 5px 90px;

		@media (max-width:$bp4+px) {
			padding: 14px 30px;
		}
	}
}