/* Блок Наша команда */
// .block9
.block9 {
	padding: 70px 0;

	@media (max-width:$bp3+px) {
		padding: 35px 0;
	}

	// .block9__title
	&__title {
		text-align: center;
		position: relative;
	}

	// .block9-subtitle
	&-subtitle {
		margin: 40px 0 50px;
	}

	// .block9__subtitle
	&__subtitle {
		font-size: 21px;
		font-weight: bold;
		line-height: 33.33px;
		color: var(--sonic-silver);
		letter-spacing: 2.08px;
		text-align: center;
	}

	// .block9__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;
		text-align: center;
		flex-wrap: wrap;
		// max-width: 1119px;
		margin: 0 auto;

		@media (max-width:1024px) {
			justify-content: center;
		}
	}

	// .block9__empl
	&__empl {
		max-width: 320px;
		margin: 10px;
	}

	// .block9__box
	&__box {
		width: 320px;
		height: 320px;
		box-shadow: 11px 4px 10px 3px rgba(0, 0, 0, 0.21);
		background-color: var(--cascading-white);
		margin: 0 auto;
		background-size: contain;
	}

	// .block9__empl-title
	&__empl-title {
		font-family: "Futura PT";
		font-size: 25px;
		font-weight: bold;
		line-height: 33.33px;
		letter-spacing: 2.5px;
	}

	// .block9-empl-title
	&-empl-title {
		margin: 28px 0 22px;
	}

	// .block9__lists
	&__lists {
		line-height: 1.5;
	}

	// .block9__lists-item
	&__lists-item {
		color: var(--sonic-silver);
		font-family: "Futura PT Book";
		font-size: 17px;
		font-weight: bold;
		letter-spacing: 1.67px;

		&:before {
			content: "-";
			padding-right: 5px;
		}
	}
}