// Блок со скидкой и записью
// .block11
.block11 {
	background: var(--indian-clay) url("../img/block11/bg-11.png") center / cover no-repeat;
	padding: 100px 0 50px;

	@media (max-width:$bp3+px) {
		padding: 25px 0;
	}

	// .block11__wrapper
	&__wrapper {
		max-width: 80%;
		margin: 0 auto;
	}

	// .block11__title
	&__title {
		color: var(--flamingo);
		font-family: "Futura PT Demi";
		font-size: 46px;
		font-weight: bold;
		line-height: 57.59px;
		letter-spacing: 2.65px;

		@media (max-width:$bp3+px) {
			font-size: 38px;
		}

		@media (max-width:$bp4+px) {
			font-size: 34px;
		}
	}

	.btn {
		padding: 5px 50px;

		@media (max-width:$bp4+px) {
			padding: 8px 14px;
		}
	}
}