/* Шапка сайта */
// .header
.header {
	@media (max-width: $bp3+px){
		display: none;
		position: fixed;
		transition: all .2s;
		top: 0;
		left: -100%;
		height: 100%;
		display: block;
		background-color: #fff;
		width: 250px;
		z-index: 12;
		overflow-x: auto;
	}

	&.mobile {
		left: 0;
	}

	// .header__container
	&__container {
		max-width: 1424px;
		margin: 0 auto;
		width: 100%;
		padding: 0 15px;

		@media (max-width:$bp3+px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	// .header__content
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin: 35px 0;

		@media (max-width:$bp3+px) {
			flex-direction: column;
			margin: 25px 0;
		}
	}

	// .header__social
	&__social {
		@media (max-width: $bp3+px){
			margin: 15px 0px 0px 0px;
			order: 3;
		}
		&-link {
			width: 45px;
			&:nth-child(2) {
				margin: 0 10px;
			}
			@media (max-width: $bp3+px){
				width: 35px;
			}
		}
		&-row {
			&:first-child {
				margin: 0px 0px 10px 0px;
			}
		}
	}

	// .header__logo
	&__logo {
		max-width: 300px;
		@media (max-width: $bp3+px){
			order: 0;
		}
	}

	// .header__info
	&__info {
		text-align: right;
		letter-spacing: 2.5px;
		color: #333333;

		@media (max-width:$bp3+px) {
			text-align: center;
			order: 2;
		}
	}

	// .header__phone
	&__phone {
		font-weight: bold;
		line-height: 33.33px;
		font-size: 25px;
		@media (max-width: $bp3+px){
			font-size: 20px;
		}
		a {
			text-decoration: none;
			color: #000;
		}
	}

	// .header__wordhours
	&__wordhours {
		font-size: 17px;
		font-weight: 300;
		letter-spacing: 0.67px;
		@media (max-width: $bp3+px){
			font-size: 15px;
		}
	}

	// .header__btn
	&__btn {
		border: 2px solid var(--peach-pearl);
		background-color: var(--peach-pearl);
		padding: 8px 37px;
		&:hover {
			background-color: #fff;
			border: 2px solid var(--flamingo);
			color: var(--flamingo);
			@include scale(1.1);
		}
		@media (max-width: $bp3+px){
			padding: 5px 10px;
			font-size: 15px;
			order: 1;
			margin: 10px 0;
		}
	}

	// .header__menu
	&__menu {
		background-color: var(--doll-house);
		@media (max-width: $bp3+px){
			background-color: #ffffff;
		}
	}

	// .header__menu-wrapper
	&__menu-wrapper {
		width: 100%;
		padding: 37px 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		@media (max-width:$bp3+px) {
			flex-direction: column;
			padding: 0;
			li {
				padding: 10px 0;
			}
		}
	}

	// .header__link
	&__link {
		color: #333333;
		font-family: "Futura PT Book";
		font-size: 25px;
		font-weight: bold;
		letter-spacing: 2.5px;
		text-decoration: none;
		position: relative;
		@media (max-width: $bp3+px){
			font-size: 20px;
			margin: 15px 0;
		}

		&:after {
			content: "";
			position: absolute;
			height: 2px;
			width: 0%;
			transition: all .2s;
			background-color: #fff;
			left: 0;
			bottom: -10px;
		}

		&:hover:after {
			width: 100%;
		}

		@media (max-width:$bp4+px) {
			display: block;
			width: 100%;
			text-align: center;
			z-index: 10;
		}
	}
}