/**
 * csstime
 * Wed, 27 May 2020 08:37:59 GMT
 */
body, div, a, span {
    margin: 0;
    padding: 0
}

a > img {
    border: 0
}

.l-inner {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.l-inner--align-baseline {
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}

.l-inner__column {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 0
}

.l-inner__column--side {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 16px
}

.l-inner--small .l-inner__column--side {
    padding-right: 8px
}

.l-inner--side-fixed .l-inner__column--side {
    width: 192px
}

.l-inner__column--main {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.l-inner--side-fixed .l-inner__column--main {
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: -webkit-calc(100% - 192px);
    width: calc(100% - 192px)
}

.l-inner__column--v-padding {
    padding-top: 16px;
    padding-bottom: 20px
}

@media all and (max-width: 624px) {
    .l-inner--as-column-mb-small {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .l-inner__column--size, .l-inner--side-fixed .l-inner__column--side {
        width: auto
    }

    .l-inner__column--main, .l-inner--side-fixed .l-inner__column--main {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: auto
    }

    .l-inner--as-column-mb-small .l-inner__column {
        width: 100%;
        max-width: 100%
    }

    .l-inner--as-column-mb-small .l-inner__column--side {
        padding-right: 0
    }

    .l-inner__column--v-padding.l-inner__column--side {
        padding-bottom: 12px
    }

    .l-inner__column--v-padding.l-inner__column--side + .l-inner__column--v-padding.l-inner__column--main {
        padding-top: 0
    }
}

p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0
}

.t-text {
    font: 15px/20px 'Formular', arial, sans-serif
}

.t-text--micro {
    font-size: 11px;
    line-height: 16px
}

.t-text--small {
    font-size: 12px;
    line-height: 16px
}

.t-text--bold {
    font-family: 'FormularBold', 'Formular', arial, sans-serif;
    font-weight: 700
}

p.t-rich-text__p + p.t-rich-text__p {
    margin-top: 12px
}

.link {
    color: #2f353f;
    text-decoration: none;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
    cursor: pointer
}

.link:hover {
    color: #8e9aad;
    text-decoration: none
}

.link:active {
    color: #2e6be6;
    text-decoration: none
}

.link:focus {
    outline: none
}

.link--grey {
    color: #8e9aad
}

.link--grey:hover {
    color: #2f353f
}

.link--grey:active {
    color: #2e6be6
}

.link--blue {
    color: #2e6be6
}

.link--blue:hover, .link--blue:active {
    color: #2f353f
}

.list {
    margin: 0;
    padding: 0;
    list-style: none
}

.list__item {
    display: inline-block;
    vertical-align: top
}

.logo {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #2e6be6
}

.logo::before {
    display: block;
    overflow: hidden;
    height: 56px;
    content: ''
}

.logo--f-complex::before {
    width: 112px;
   /* background: url(/assets/brand-logo/images/f-complex.png) 0 0 no-repeat;*/
    background: url(/assets/f-complex.png) 0 0 no-repeat;
    background-size: 112px 56px
}

.logo--f-complex-disabled::before {
    width: 112px;
    background: url(/assets/f-complex-disabled.png) 0 0 no-repeat;
    background-size: 112px 56px
}

.logo--f-small::before {
    width: 40px;
    height: 40px;
    background: url(/assets/f-small.png) 0 0 no-repeat;
    background-size: 40px 40px
}

.logo--f-small-disabled::before {
    width: 40px;
    height: 40px;
    background: url(/assets/f-small-disabled.png) 0 0 no-repeat;
    background-size: 40px 40px
}

.avatar {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden
}

.avatar--bordered::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    content: '';
    border: 1px solid rgba(47, 53, 63, .3)
}

.avatar--circled {
    border-radius: 50%
}

.avatar--circled.avatar--bordered::after {
    border-radius: 50%
}

.avatar--rounded {
    border-radius: 8px
}

.avatar--rounded.avatar--bordered::after {
    border-radius: 8px
}

.avatar--mini {
    width: 32px;
    height: 32px
}

.avatar--small {
    width: 40px;
    height: 40px
}

.avatar--normal {
    width: 56px;
    height: 56px
}

.avatar--big {
    width: 80px;
    height: 80px
}

.avatar--giant {
    width: 112px;
    height: 112px
}

.avatar--huge {
    width: 160px;
    height: 160px
}

.avatar--guest {
    background: url(/assets/guest.svg) center no-repeat;
    background-size: 100%
}

.avatar--letter {
    text-decoration: none
}

.avatar--letter.avatar--rating-0 {
    background: #8e9aad
}

.avatar--letter.avatar--rating-1 {
    background: #ff4c5b
}

.avatar--letter.avatar--rating-2 {
    background: #ff8d29
}

.avatar--letter.avatar--rating-3 {
    background: #ffbf00
}

.avatar--letter.avatar--rating-4 {
    background: #99c21d
}

.avatar--letter.avatar--rating-5 {
    background: #1cbf60
}

.avatar--embed {
    width: 100%;
    height: 100%
}

.avatar--right {
    margin-left: auto
}

.avatar__image {
    width: 100%
}

.avatar__letter {
    color: #fff
}

.avatar--mini .avatar__letter {
    font-size: 20px
}

.avatar--small .avatar__letter {
    font-size: 25px
}

.avatar--normal .avatar__letter {
    font-size: 31px
}

.avatar--big .avatar__letter {
    font-size: 47px
}

.ugc-date {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #8e9aad;
    white-space: nowrap
}

.ugc-date.link:active .icon {
    fill: #565f6f
}

.ugc-date.link .icon {
    -webkit-transition: fill .1s ease;
    transition: fill .1s ease
}

.ugc-date.link:hover .icon {
    fill: #2f353f
}

.ugc-date__icon {
    position: relative;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    -webkit-transition: background-image .1s ease;
    transition: background-image .1s ease
}

.ugc-date__icon--pencil {
    background-image: url(/assets/pencil--grey.png)
}

.ugc-date:hover .ugc-date__icon--pencil {
    background-image: url(/assets/pencil--dark.png)
}

.ugc-date__icon--android {
    background-image: url(/assets/android--grey.png)
}

.ugc-date:hover .ugc-date__icon--android {
    background-image: url(/assets/android--dark.png)
}

.ugc-date__icon--ios {
    background-image: url(/assets/ios--grey.png)
}

.ugc-date:hover .ugc-date__icon--ios {
    background-image: url(/assets/ios--dark.png)
}

.ugc-date__icon--left {
    margin-right: 2px
}

.ugc-date__icon--right {
    padding-left: 2px
}

.filial-rating {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #2f353f;
    font-family: 'Formular', arial, sans-serif;
    font-size: 22px
}

.filial-rating--size-small, .filial-rating--size-micro {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #fff;
    font-family: 'FormularBold', 'Formular', arial, sans-serif;
    font-size: 13px;
    font-weight: 700
}

.filial-rating__value {
    overflow: hidden;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    background: #8e9aad
}

.filial-rating--size-small .filial-rating__value {
    width: 40px;
    height: 40px;
    line-height: 40px
}

.filial-rating--size-micro .filial-rating__value {
    width: 32px;
    height: 32px;
    line-height: 32px
}

.filial-rating__value--1 {
    background: #ff4c5b
}

.filial-rating__value--2 {
    background: #ff8d29
}

.filial-rating__value--3 {
    background: #ffbf00
}

.filial-rating__value--4 {
    background: #99c21d
}

.filial-rating__value--5 {
    background: #1cbf60
}

.filial-rating__reviews {
    line-height: 32px
}

.filial-rating--size-small .filial-rating__reviews {
    margin-left: 8px;
    line-height: 20px
}

.review-estimation__list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.review-estimation__item {
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: block;
    color: #fff;
    text-align: center;
    border-radius: 50%
}

.review-estimation--small .review-estimation__item {
    width: 24px;
    height: 24px;
    line-height: 24px
}

.review-estimation--1 .review-estimation__item {
    background: #ff4c5b
}

.review-estimation--2 .review-estimation__item {
    background: #ff8d29
}

.review-estimation--3 .review-estimation__item {
    background: #ffbf00
}

.review-estimation--4 .review-estimation__item {
    background: #99c21d
}

.review-estimation--5 .review-estimation__item {
    background: #1cbf60
}

.review-estimation__item--checked ~ .review-estimation__item {
    background: #8e9aad
}

@media all and (max-width: 624px) {
    .review-estimation__item {
        width: 24px;
        height: 24px;
        line-height: 24px
    }
}

.ugc-list {
    position: relative
}

.ugc-list__item + .ugc-list__item {
    box-shadow: inset 0 1px #e5eaf1
}

.ugc-list__item--empty {
    width: 100%;
    padding: 16px;
    text-align: center
}

.layout-count {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 -1px #e5eaf1
}

.layout-count__logo {
    width: 208px
}

.layout-count__logo-wrap {
    width: 112px
}

.layout-count__label {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 8px
}

.layout-count__text {
    color: #2f353f
}

.layout-count:hover .layout-count__text {
    color: #8e9aad
}

.layout-count__num {
    color: #8e9aad
}

.layout-count__rating--mobile {
    display: none
}

@media all and (max-width: 624px) {
    .layout-count {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .layout-count__label {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        max-width: none;
        min-height: 56px;
        padding: 0 16px
    }

    .layout-count__rating {
        display: none
    }

    .layout-count__rating--mobile {
        display: block;
        margin-right: 8px
    }

    .layout-count__logo {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        box-shadow: inset 0 -1px #e5eaf1;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: auto
    }
}

.author {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.author--v-padding-1x {
    padding-top: 8px;
    padding-bottom: 8px
}

.author--v-padding-2x {
    padding-top: 16px;
    padding-bottom: 16px
}

.author--v-padding-3x {
    padding-top: 24px;
    padding-bottom: 24px
}

.author--h-padding-1x {
    padding-right: 8px;
    padding-left: 8px
}

.author--h-padding-2x {
    padding-right: 16px;
    padding-left: 16px
}

.author--h-padding-3x {
    padding-right: 24px;
    padding-left: 24px
}

.author__side {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.author__side-item {
    position: relative
}

.author__side-item + .author__side-item {
    margin-left: 8px
}

.author__counter {
    position: absolute;
    top: -8px;
    right: -8px
}

.author__main-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    height: 100%
}

.author__rating {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 16px
}

.author__content {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    max-width: 100%;
    height: 56px
}

.author--mini .author__content {
    height: 32px
}

.author--small .author__content {
    height: 40px
}

.author__content-item--title {
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    max-width: -webkit-calc(100% - 140px);
    max-width: calc(100% - 140px);
    height: 20px
}

.author__content--without-date .author__content-item--title {
    max-width: 100%
}

.author__content-item--date {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.author__content-item--extension {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    color: #2f353f
}

.author__string {
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.author__string-part {
    max-width: 100%
}

.author__string-part + .author__string-part {
    margin-left: 8px
}

.author__string-part--no-margin {
    margin-left: 0 !important
}

.author__string-part--cut {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal
}

.author__string-part--fix {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    white-space: nowrap
}

.author__braces--red {
    color: #ff4c5b
}

.author__braces--blue {
    color: #2e6be6
}

.author__label--text {
    display: block
}

.author__label--check {
    display: none
}

.author__target::before {
    display: inline-block;
    padding-right: 4px;
    content: '→';
    color: #2f353f
}

@media all and (max-width: 624px) {
    .author--v-padding-3x {
        padding-top: 16px;
        padding-bottom: 16px
    }

    .author--h-padding-3x {
        padding-right: 16px;
        padding-left: 16px
    }

    .author__content-item--title {
        max-width: 100%
    }

    .author__content-item--date {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }

    .author__content-item--date .ugc-date__icon--left {
        margin-left: -3px
    }

    .author__label--text {
        display: none
    }

    .author__label--check {
        display: block
    }
}

.ugc-item {
    position: relative;
    color: #2f353f;
    padding-left: 16px;
    padding-right: 16px
}

.ugc-item__address {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    padding-top: 4px;
    padding-bottom: 16px
}

.ugc-item__author {
    padding-top: 24px
}

.ugc-item__author--compact {
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0 1px #e5eaf1
}

.ugc-item__ribbon {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.ugc-item__ribbon-icon {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 24px;
    height: 26px;
    background-size: 100% 100%;
    background-image: url(/assets/ribbon-small.png)
}

.ugc-item__ribbon-label {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 8px
}

.ugc-item__filial {
    position: relative;
    padding-top: 24px
}

.ugc-item__author--compact + .ugc-item__content {
    padding-top: 16px
}

.ugc-item__text-wrap {
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height .3s ease;
    transition: height .3s ease
}

body.is-browser-outdated .ugc-item__text-wrap {
    height: auto !important;
    -webkit-transition: none !important;
    transition: none !important
}

.ugc-item__text {
    max-width: 752px;
    word-wrap: break-word
}

.ugc-item--blocked .ugc-item__text {
    color: #8e9aad
}

.ugc-item__text--full {
    display: block
}

.ugc-item__text-wrap.is-collapsed .ugc-item__text--full {
    display: none
}

.ugc-item__text--preview {
    display: none
}

.ugc-item__text-wrap.is-collapsed .ugc-item__text--preview {
    display: block
}

.ugc-item__expand {
    display: none
}

.ugc-item__text-wrap.is-collapsed .ugc-item__expand {
    display: block
}

.ugc-item__estimation {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 16px
}

.ugc-item__official-answer {
    margin-top: 20px;
    padding-top: 16px;
    padding-bottom: 20px;
    background: #f4f8fc;
    margin-right: -16px;
    margin-left: -16px;
    padding-right: 16px;
    padding-left: 16px;
    box-shadow: inset 1px 0 #e5eaf1, inset -1px 0 #e5eaf1
}

@media not all and (max-width: 624px) {
    .ugc-item__filial {
        padding-bottom: 8px
    }

    .ugc-item__text-wrap {
        padding-right: 24px
    }

    .ugc-item__estimation {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .ugc-item__ribbon {
        margin-top: 8px
    }
}

@media all and (max-width: 624px) {
    .ugc-item__estimation {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }

    .ugc-item__estimation-wrap {
        padding-bottom: 8px;
        margin-right: 8px
    }

    .ugc-item__ribbon {
        padding-bottom: 8px;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .ugc-item__text-wrap--official-answer {
        padding-top: 8px
    }

    .ugc-item__author, .ugc-item__filial {
        padding-top: 16px
    }
}

.ugc-actions {
    padding-top: 24px;
    padding-bottom: 24px
}

.ugc-actions__list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.ugc-actions__item {
    white-space: nowrap
}

.ugc-actions__item--counted {
    width: 96px
}

.ugc-actions__button {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    color: #8e9aad;
    -webkit-transition: color .1s ease;
    transition: color .1s ease
}

.ugc-actions__button:hover {
    color: #2f353f
}

.ugc-actions__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-size: 24px 24px;
    -webkit-transition: background-image .1s ease;
    transition: background-image .1s ease
}

.ugc-actions__button--like .ugc-actions__icon {
    background-image: url(/assets/like--grey.png)
}

.ugc-actions__button--like:hover .ugc-actions__icon {
    background-image: url(/assets/like--dark.png)
}

.ugc-actions__button--comment .ugc-actions__icon {
    background-image: url(/assets/comment--grey.png)
}

.ugc-actions__button--comment:hover .ugc-actions__icon {
    background-image: url(/assets/comment--dark.png)
}

@media all and (max-width: 624px) {
    .ugc-actions__item--counted {
        width: 72px
    }
}

.responsive-new {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    box-shadow: inset 0 0 0 1px #e5eaf1;
    min-width: 220px
}

.responsive-new--error {
    color: #8e9aad
}

.responsive-new__top {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-shadow: inset 0 -1px #e5eaf1
}

.responsive-new__bottom {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.responsive-new--error .responsive-new__bottom {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 16px 0;
    text-align: center
}

.responsive-new__add {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 208px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 56px;
    padding: 0 16px;
    color: #fff;
    line-height: 1.2;
    text-decoration: none;
    background-color: #2e6be6;
    cursor: pointer
}

.responsive-new__add:hover, .responsive-new__add:active, .responsive-new__add.is-pressed {
    background-color: #1059fa
}

.responsive-new__add--full {
    width: 100%
}

.responsive-new__all {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 56px;
    padding: 0 16px 0 32px;
    cursor: pointer;
    box-shadow: inset 0 1px #e5eaf1
}

.responsive-new__corner {
    width: 24px;
    height: 24px;
    background-image: url(/assets/corner-rt.png);
    background-size: 24px 24px
}

.responsive-new__all:hover .responsive-new__corner {
    background-image: url(/assets/corner-rt-hover.png)
}

.responsive-new__label {
    color: #2f353f
}

.responsive-new__label--error {
    margin-left: 16px;
    color: #8e9aad
}

.responsive-new__count {
    margin-left: 8px
}

@media all and (max-width: 624px) {
    .responsive-new__add {
        width: auto
    }

    .responsive-new__bottom {
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }

    .responsive-new__all {
        padding-left: 16px
    }
}