::selection {
	color: #ffa;
	background-color: #000;
}
body {
	--bgColor: #0085c3;
	font-size: 16px;
	font-family: "PT Sans", sans-serif;
	color: #fff;
	background-color: var(--bgColor, #0085c3);
	position: relative;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {overflow: hidden}

section {padding: 20px 0}
