::selection {
	color: #ffa;
	background-color: #000;
}

body {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: var(--black);
	position: relative;
	background-color: var(--bg);
}

.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

.wrapper {overflow: hidden}

section {padding: 20px 0}
