:root {
	--bgColor: #0085c3;

}
::selection {
	color: #ffa;
	background-color: #000;
}
body {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: #232323;
	position: relative;
	background-color: whitesmoke;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {overflow: hidden}

section {padding: 20px 0}
