<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet"> -->
		<link
			rel="shortcut icon"
			href="./icons/favicon.png"
			type="image/x-icon"
		/>
		<title>Санитарная эпидемиологическая служба - {{title}}</title>

		<!-- <link rel="stylesheet" href="css/bootstrap-grid.min.css"> -->
		<link rel="stylesheet" href="css/bootstrap-reboot.min.css" />
		<link rel="stylesheet" href="css/mgp.css" />
		<link rel="stylesheet" href="css/style.min.css" />
		<link rel="stylesheet" href="css/font.css" />
		<!-- <script src="https://kit.fontawesome.com/05dbfec33e.js" crossorigin="anonymous"></script> -->
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-PNKFVGP");
		</script>
		<!-- End Google Tag Manager -->

		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-PNKFVGP"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
			(function (m, e, t, r, i, k, a) {
				m[i] =
					m[i] ||
					function () {
						(m[i].a = m[i].a || []).push(arguments);
					};
				m[i].l = 1 * new Date();
				(k = e.createElement(t)),
					(a = e.getElementsByTagName(t)[0]),
					(k.async = 1),
					(k.src = r),
					a.parentNode.insertBefore(k, a);
			})(
				window,
				document,
				"script",
				"https://mc.yandex.ru/metrika/tag.js",
				"ym"
			);

			ym(70650205, "init", {
				clickmap: true,
				trackLinks: true,
				accurateTrackBounce: true,
				webvisor: true,
			});
		</script>

		<noscript
			><div>
				<img
					src="https://mc.yandex.ru/watch/70650205"
					style="position: absolute; left: -9999px"
					alt=""
				/></div
		></noscript>
		<!-- /Yandex.Metrika counter -->
		<script src="//st.yagla.ru/js/y.c.js?h=5e4764d397ff13b5aeefb3f66059d0c0"></script>
	</head>
	<body>
		{{> header}} {{> body}}

		<nav class="nav">
			<div class="container">
				<div class="nav__logo">
					<a href="index.html"
						><img src="./icons/logo.png" alt="Логотип"
					/></a>
				</div>
				<ul class="nav__menu">
					<li class="nav__menu-item"><a href="#price">Стоимость</a></li>
					<li class="nav__menu-item"><a href="#services">Услуги</a></li>
					<li class="nav__menu-item"><a href="#contract">Гарантии</a></li>
					<li class="nav__menu-item"><a href="#reviews">Отзывы</a></li>
					<li class="nav__menu-item"><a href="#contacts">Контакты</a></li>
				</ul>
				<div class="nav__contacts">
					<div class="nav__txt">Москва и МО</div>
					<div class="nav__phone">
						<a href="tel:+74993221815">+74993221815</a>
					</div>
					<div class="nav__txt">Горячая линия 24/7</div>
				</div>
			</div>
		</nav>
		<section class="empty"></section>
		<div class="overlay">
			<div class="modal">
				<div class="modal__close">&times</div>
				<div class="modal__head">
					<div class="modal__title">Оставьте заявку</div>
					<div class="modal__subtitle">И мы с вами свяжемся</div>
				</div>
				<form
					class="form"
					action="php/send.php"
					method="POST"
					onsubmit="ym(70650205,'reachGoal','dezinfekcia-forma')"
				>
					<div class="form__title">Как связаться с нами</div>
					<label for="name">Имя</label>
					<input
						id="name"
						name="name"
						placeholder="Ваше имя"
						type="text"
					/>
					<label for="phone">Номер телефона *</label>
					<input id="phone" name="phone" placeholder="Ваш телефон" />
					<button class="button button_blue">Отправить сообщение</button>
				</form>
			</div>
		</div>
		<div class="modal-thanks">
			<div class="modal__close">&times</div>
			<div class="modal__head">
				<div class="modal__title">Спасибо ваша заявка принята</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="js/mgp.js"></script>
		<script src="js/script.js"></script>

		<!-- Begin LeadBack code {literal} -->
		<script>
			var _emv = _emv || [];

			_emv["campaign"] = "5bf73f0ab50f7167fd590c0c";

			(function () {
				var em = document.createElement("script");
				em.type = "text/javascript";
				em.async = true;

				em.src =
					("https:" == document.location.protocol
						? "https://"
						: "http://") + "leadback.ru/js/leadback.js";

				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(em, s);
			})();
		</script>
		<!-- End LeadBack code {/literal} -->
		<script>
			(function (w, d, u, i, o, s, p) {
				if (d.getElementById(i)) {
					return;
				}
				w["MangoObject"] = o;

				w[o] =
					w[o] ||
					function () {
						(w[o].q = w[o].q || []).push(arguments);
					};
				w[o].u = u;
				w[o].t = 1 * new Date();

				s = d.createElement("script");
				s.async = 1;
				s.id = i;
				s.src = u;

				p = d.getElementsByTagName("script")[0];
				p.parentNode.insertBefore(s, p);
			})(
				window,
				document,
				"//widgets.mango-office.ru/widgets/mango.js",
				"mango-js",
				"mgo"
			);

			mgo({
				calltracking: {
					id: 23588,
					elements: [{ numberText: "74993221815" }],
				},
			});
		</script>

		<script>
			(function (w, d, s, h, id) {
				w.roistatProjectId = id;
				w.roistatHost = h;
				var p = d.location.protocol == "https:" ? "https://" : "http://";
				var u = /^.roistat_visit=[^;]+(.)?$/.test(d.cookie)
					? "/dist/module.js"
					: "/api/site/1.0/" +
					  id +
					  "/init?referrer=" +
					  encodeURIComponent(d.location.href);
				var js = d.createElement(s);
				js.charset = "UTF-8";
				js.async = 1;
				js.src = p + h + u;
				var js2 = d.getElementsByTagName(s)[0];
				js2.parentNode.insertBefore(js, js2);
			})(
				window,
				document,
				"script",
				"cloud.roistat.com",
				"5170c4154bca59c4d814f47c1084b22e"
			);
		</script>
	</body>
</html>
