/* Vars */
$mw:1586;
/* $mw:1140; */
$bp1:$mw+12;
$bp2:992;
$bp3:768;
$bp4:480;
$minwidth:320;
$accent: #E0604C;
$accent-l: #FCD1C2;
$accent-m: #EF8A7D;
/* Vars */

:root {
	--accent1: #E0604C;
	--accent2: #FCD1C2;
	--accent3: #EF8A7D;
	--accent4: #FFB2A3;
}