body {
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	background: #0085c3;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	overflow: hidden;
}

.header__logo {
	font-size: 22px;
	font-family: 'PT Serif', serif;
	font-weight: bold;
}

.header__logo:after {
	content: '_';
	animation: 2s header-logo-cursor-blink infinite linear;
	opacity: 0;
}

@keyframes header-logo-cursor-blink {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}

.about__menu {
	display: flex;
}
.about__menu li {
	padding: 0 15px;
}

.about__menu a {
	color: #fff;
}
