extends ./layouts/default.pug

block variables
	- var title = 'Главная страница'

block content
	include ./parts/header.pug
	main
		section.welcome.ibg
			img(src="./assets/images/welcome/welcome.jpg", alt="Главный экран")
			.container
				.welcome__body
					.welcome__booking.booking
						.booking__body
							h1.welcome__title Найдём номера под ваши пожелания
							form.booking-form.form(action="#")
								.booking-form__group#datepicker
									.booking-form__group-item
										label.booking-form__label.form__label(for="input__startDate") Прибытие
										.booking-form__input-wrapper.form__input-wrapper
											input.booking-form__input.form__input#input__startDate(type="text" placeholder="ДД.ММ.ГГГГ")
											span
									.booking-form__group-item
										label.booking-form__label.form__label(for="input__endDate") Выезд
										.booking-form__input-wrapper.form__input-wrapper
											input.booking-form__input.form__input#input__endDate(type="text" placeholder="ДД.ММ.ГГГГ")
											span
								.booking-form__group
									.booking-form__group-item
										label.booking-form__label.form__label(for="guests") Гости
										select.booking-form__input.form__input#guests
											option(value="") Сколько гостей
								.booking-form__group
									.booking-form__group-item
										button.btn.btn--fill.booking-form__btn(type="submit") Подобрать номер
											span



					p.welcome__body-text Лучшие номера для вашей работы, отдыха и просто вдохновения


	include ./parts/footer.pug