#wrapper {
	position: relative;
}

.bgImg {
	position: fixed;
	width: 100%;
	height: 100%;
	object-fit: fill;
}

a.column .card {
	transition: background-color 0.2s ease-in-out;
}

a.column:hover .card {
	background-color: red;
}
.media-content {
	overflow: hidden;
}

.media .title,
.media .subtitle {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
