@import 'utils/_vars';
@import 'utils/_mixins';

@import 'core/_reset';
@import 'core/_fonts';
@import 'core/_general';

@import 'lib/_slick';
@import 'lib/_baguetteBox';

@import 'project/_elements';
@import 'project/_header';
@import 'project/_welcome';
@import 'project/_block2';
@import 'project/_block3';
@import 'project/_block4';
@import 'project/_block5';
@import 'project/_block6';
@import 'project/_block7';
@import 'project/_block8';
@import 'project/_block9';
@import 'project/_block10';
@import 'project/_block11';
@import 'project/_block12';
@import 'project/_footer';
@import 'project/_modal';

:root {
	--cascading-white: #f6f6f6;
	--doll-house: #FCD1C2;
	--flamingo: #e0604c;
	--indian-clay: #f0d0c1;
	--peach-pearl: #FFB2A3;
	--salmon-carpaccio: #EF8A7D;
	--sonic-silver: #767676;
	--sugar-coral: #f17172;

}

// Блок отвечающий за затемнение при показе баннеров и обратной связи
// .overlay
.overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .8);
	display: none;
	z-index: 40;
}

// Скрываем баннеры
//.ban1, .ban2, .ban3, .ban4
.ban1,
.ban2,
.ban3,
.ban4,
.ban5,
.ban6,
.ban7,
.ban8,
.ban9 {
	display: none;
}
