.footer
	&__bottom
		display: flex
		justify-content: space-between
		align-items: center
		padding: 23px 0
	&__copywriting
		color: var(--dark-shade-75)
	&__social
		display: flex
		&-icon
			margin: 0 10px