/* Блок Почему клиенты выбирают нас */
.block2 {
	padding: 60px 0;

	@media (max-width:$bp3+px) {
		padding: 40px 0;
	}

	@media (max-width:$bp4+px) {
		padding: 20px 0;
	}

	// .block2__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 -50px;

		@media (max-width:$bp3+px) {
			flex-direction: column;
			align-items: center;
			margin: 0;
		}
	}

	// .block2__column
	&__column {
		width: 50%;
		padding: 0 50px;
		height: 100%;

		@media (max-width:$bp3+px) {
			width: 100%;
			padding: 0;
		}
	}

	// .block2__title-2
	&__title-2 {
		position: relative;
		padding-left: 87px;

		&:before {
			content: "";
			position: absolute;
			width: 66px;
			height: 5px;
			background-color: $accent-m;
			top: 50%;
			left: 0;
		}
	}

	// .block2__description
	&__description {
		font-weight: 300;
		letter-spacing: 2.08px;
		max-width: 731px;
		margin-top: 77px;
		line-height: 33.33px;
		font-size: 21px;
		font-family: "Futura PT Light";

		@media (max-width:$bp4+px) {
			font-size: 16px;
			margin-top: 30px;
		}
	}

	// .block2__description-brand
	&__description-brand {
		font-family: "Futura PT Medium";
		letter-spacing: 2.08px;
	}
}