.about {}

.about__title {margin: 15px 0}

.about__img {
	position: relative;
}

.about__img::before,
.about__img::after {
	position: absolute;
	content: '';
	border: 5px solid #fff;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: all .2s;
}

.about__img::before {
	right: -10px;
	top: -10px;
}

.about__img::after {
	left: -10px;
	bottom: -10px;
}

.about__block {
	display: flex;
	max-width: 1000px;
	margin: 20px auto 0;
	align-items: center;
	justify-content: space-between;
}

@media screen and ( max-width: 768px ) {
	.about__block {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}

.about__txt {margin: 0px 0px 0px 40px}

@media screen and ( max-width: 768px ) {
	.about__txt {
		margin: 0;
		text-align: center;
	}
}
