.about {
	height: calc(100vh - 80px);
}

.about__title {margin: 15px 0}

.about__img {
	position: relative;
}

@media (max-width: 768px) {
	.about__img img{
		height: 250px;
	}
}

.about__block {
	display: flex;
	max-width: 1000px;
	margin: 20px auto 0;
	align-items: center;
	justify-content: space-between;
}

@media screen and ( max-width: 768px ) {
	.about__block {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}

.about__txt {margin: 0px 0px 0px 40px}

.about__mouse {
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translateX(-50%);
}
@media (width <= 768px) {
	.about__mouse {
		display: none;
	}
}
.mouse__body::before {
	position: absolute;
	content: '';
	border-radius: 10px;
	background-color: var(--black);
	width: 10px;
	height: 15px;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	animation: mouse-wheel 1.5s infinite;
}

@keyframes mouse-wheel {
	from {
		opacity: 1;
		top: 0%;
	}
	to {
		opacity: 0;
		top: 40%;
	}
}

.mouse__body {
	position: relative;
	content: '';
	height: 50px;
	width: 30px;
	border: 1px solid var(--black);
	border-radius: 30px;
}

@media screen and ( max-width: 768px ) {
	.about__txt {
		margin: 25px 0px 0px 0px;
		text-align: center;
	}
}
