.about {
	min-height: calc(100vh - 80px);
}

.about__title {margin: 15px 0}

.about__img {
	position: relative;
}

@media (max-width: 768px) {
	.about__img img{
		height: 250px;
	}
}

.about__block {
	display: flex;
	max-width: 1000px;
	margin: 20px auto 0;
	align-items: center;
	justify-content: space-between;
}

@media screen and ( max-width: 768px ) {
	.about__block {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}

.about__txt {margin: 0px 0px 0px 40px}

@media screen and ( max-width: 768px ) {
	.about__txt {
		margin: 25px 0px 0px 0px;
		text-align: center;
	}
}
