/* Header */
.header {
	height: 80px;
}

.header__wrapper {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 24px;
	font-family: monospace;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	transition: all .2s;
}

.header__logo::after {
	content: "_";
	animation: 1.5s header-logo-cursor-blink infinite linear;
	opacity: 0;
}

.header__social {}
.header__social-item {}

.social {
	display: flex;
	justify-content: space-between;
}
.social__item {
	margin: 0 5px;
	position: relative;
	transition: all .2s;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social__item:first-child {margin-left: 0}
.social__item:last-child {margin-right: 0}

.social__item svg {
	fill: #ffffff;
	width: 25px;
}
.social__item:hover {box-shadow: 0 0 10px #fff}

@keyframes header-logo-cursor-blink {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
