.about {
    /* .about__title */
    &__title {
        margin: 15px 0;
    }
    /* .about__img */
    &__img {
        position: relative;
        @mixin media-tablet {
            img {
                height: 250px;
            }
        }
    }
    /* .about__block */
    &__block {
        display: flex;
        max-width: 1000px;
        align-items: center;
        justify-content: space-between;
        @mixin media-tablet {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
    /* .about__txt */
    &__txt {
        margin: 0px 0px 0px 40px;
        @mixin media-tablet {
            margin: 25px 0px 0px 0px;
            text-align: center;
        }
        h1 {
            font-size: rem(26px);
            font-weight: bold;
            margin-bottom: 15px;
        }
    }
    /** .about__social **/
    &__social {
        justify-self: center;
        margin: 15px 0 0 0;
        @mixin media-phone {
            justify-content: center;
        }
        /** .about__social-item **/
        &-item {
            --vk: #45668e;
            --telegram: #0088cc;
            --viber: #59267c;
            svg {
                fill: #fff;
            }
            &--vk {
                background-color: var(--vk);
                &:hover {
                    box-shadow: 0 0 10px var(--vk);
                }
            }
            &--telegram {
                background-color: var(--telegram);
                &:hover {
                    box-shadow: 0 0 10px var(--telegram);
                }
            }
            &--viber {
                background-color: var(--viber);
                &:hover {
                    box-shadow: 0 0 10px var(--viber);
                }
            }
        }
    }
}
