.social {
    display: flex;
    /** .social__item **/
    &__item {
        margin: 0 5px;
        position: relative;
        transition: all .2s;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        text-decoration: none;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s;
            &:first-child {
                width: 40px;
            }
            &:last-child {
                width: 0;
                opacity: 0;
                color: #fff;
            }
        }
        &:hover span:last-child {
            width: 100px;
            opacity: 1;
        }
        svg {
            width: 25px;
            height: 25px;
        }
    }
}